---
Checks: "-abseil-*,
  bugprone-*,
  -boost-*,
  -cert-*,
  clang-diagnostic-*,
  -clang-diagnostic-documentation,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -darwin-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -linuxkernel-*,
  -llvm-*,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-use-auto,
  -mpi-*,
  -objc-*,
  -openmp-*,
  performance-*,
  -portability-*,
  readability-*,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers"
WarningsAsErrors: '*'
HeaderFilterRegex: 'simplnx/.*\.hpp'
FormatStyle: file
CheckOptions:
  cppcoreguidelines-macro-usage.AllowedRegexp: 'SIMPLNX_EXPORT|SIMPLNX_NO_EXPORT|SIMPLNX_DEPRECATED'
  readability-identifier-naming.IgnoreMainLikeFunctions: 'false'
  readability-identifier-naming.PrivateMemberPrefix: 'm_'
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.ClassMethodCase: camelBack
  readability-identifier-naming.PrivateMember: CamelCase
  readability-identifier-naming.PublicMemberCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.GlobalVariableCase: CamelCase
  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.GlobalConstantPrefix: 'k_'
  readability-identifier-naming.GlobalFunctionCase: CamelCase
  readability-identifier-naming.LocalPointerCase: camelBack
  readability-identifier-naming.LocalPointerSuffix: 'Ptr'
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.TypeAliasSuffix: 'Type'
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
...
