---
Checks: '
  -abseil-*,
  bugprone-*,
  -boost-*,
  -cert-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -darwin-*,
  -fuchsia-*,
  -google-*,
  -hicpp-*,
  -linuxkernel-*,
  -llvm-*,
  misc-*,
  moderize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -moderize-use-auto,
  -mpi-*,
  -objc-*,
  -openmp-*,
  performance-*,
  -portability-*,
  readability-*,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-identifier-naming,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers
'
WarningsAsErrors: '*'
HeaderFilterRegex: 'complex/.*\.hpp'
FormatStyle: file
CheckOptions:
  - key: cppcoreguidelines-macro-usage.AllowedRegexp
    value: 'COMPLEX_EXPORT|COMPLEX_NO_EXPORT|COMPLEX_DEPRECATED'
...
