__pycache__/
.cproject
.ctags
.floo
.idea
.idea/
.project
.vscode
.vscode/
*.user*
/[Bb]uild/
/[Bb]uilds/
/[Dd]ebug/
/[Rr]elease/
/Build-ninja/
/Build-Xcode/
/Build2/
/clang/
/i386/
/linux/
/ninja/
/QT_BUILD/.settings
/qtcreator/
/x64/
/xcode/
CMakeLists.txt.*
CMakeUserPresets.json
dist/
DREAM3D_Data
test_data/
vcpkg_installed/
Workspace
CLAUDE.md
