
.vscode/
.idea/
vcpkg_installed/
CMakeLists.txt.*
/[Bb]uild/
/[Bb]uilds/
/Build-ninja/
/Build-Xcode/
.cproject
.project
/clang/
/xcode/
/x64/
/i386/
/qtcreator/
/Build2/
/QT_BUILD/.settings
.floo
/ninja/
/linux/
.idea
/[Dd]ebug/
/[Rr]elease/
.ctags
.vscode
*.user*
test_data/
CMakeUserPresets.json
Workspace
